.card {
  background-color: #f9f9f9; /* Light gray background */
  padding: 10px;
  border-radius: 6px;
  border: 1px solid rgba(44, 62, 80, 0.1); /* Slightly darker border */
  box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.1); /* Softer shadow */
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
  overflow: hidden;
}

.screenshot_image {
  width: 100%;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
  aspect-ratio: 16 / 9;
}

.card_content {
  font-size: 18px;
  color: #333; /* Dark gray text for better readability */
}
